.icon{
    background-color: rgb(141, 43, 13);
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20% 0% 20%;
    margin: 100px 100px 0px 100px;
}
.icon i{
    color: aliceblue;
    font-size: 70px;
}
.body{
    margin: 100px;
    background-color: antiquewhite;
    border: 3px dotted rgb(141, 43, 13);
    width: 370px;
    height: 530px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 35px;
    width: 250px;
    height: 90px;
    margin-left: 60px;
    text-align: center;
}
span{
    font-size: 20px;
    border: 10px;
    font-style: italic;
    text-align: justify;
}